# Lab | Avila Bible

In this lab, we will explore the [**Avila Bible dataset**](https://archive.ics.uci.edu/ml/datasets/Avila) which has been extracted from 800 images of the 'Avila Bible', an XII century giant Latin copy of the Bible. The prediction task consists in associating each pattern to a copyist. You will use supervised learning algorithms to figure out what feature patterns each copyist are likely to have and use our model to predict those copyist.

-----------------------------------------------------------------------------------------------------------------

## Before your start:
    - Read the README.md file,
    - Comment as much as you can and use the APIla-bible in the README.md,
    - Happy learning!

In [77]:
# Import your libraries
import pandas as pd
import requests
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, fbeta_score, confusion_matrix

In [81]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.pipeline import make_pipeline
import matplotlib.pyplot as plt
from sklearn.metrics import precision_score

![machine-learning](https://miro.medium.com/proxy/1*halC1X4ydv_3yHYxKqvrwg.gif)

The Avila data set has been extracted from 800 images of the the **Avila Bible**, a giant Latin copy of the whole Bible produced during the XII century between Italy and Spain. The palaeographic analysis of the  manuscript has  individuated the presence of 8 copyists. The pages written by each copyist are not equally numerous. 
Each pattern contains 10 features and corresponds to a group of 4 consecutive rows.

## What am I expected to do?

Well, your prediction task consists in associating each pattern to one of the 8 monks we will be evaluating (labeled as:  Marcus, Clarius, Philippus, Coronavirucus, Mongucus, Paithonius, Ubuntius, Esequlius). For that aim, you should: 
- Train a minimum of 4 different models
- Perform a minimum of 4 Feature Extraction and Engineering techniques
- Must contain a summary of the machine learning tools and algorithms
- and the results or the score obtained with each of them

You won't get much more instructions from now on. Remember to comment your code as much as you can. Keep the requirements in mind and have fun!

Just one last piece of advice, take a moment to explore the data, remember this dataset contains two files: **train** and **test**. You will find both files in `data` folder. The **test** files contains the data you will predict for, therefore it does not include the labels.
Use the **train** dataset as you wish, but don't forget to split it into **train** and **test** again so you can evaluate your models. Just be sure to train it again with the whole data before predicting.
We have also included a **sample submission** which is of the exact shape and format you must use when evaluating your predictions against the groundtruth through the `APIla-bible`. It won't work unless it is the exact same shape.

#### Train dataset

In [59]:
train_dataset = pd.read_csv('../data/training_dataset.csv', index_col=0)

In [60]:
train_dataset.head()

,0,1,2,3,4,5,6,7,8,9,10
0,0.241386,0.109171,-0.127126,0.380626,0.172340,0.314889,0.484429,0.316412,0.188810,0.134922,Marcus
1,0.303106,0.352558,0.082701,0.703981,0.261718,-0.391033,0.408929,1.045014,0.282354,-0.448209,Clarius
2,-0.116585,0.281897,0.175168,-0.152490,0.261718,-0.889332,0.371178,-0.024328,0.905984,-0.877830,Philippus
3,-0.326430,-0.652394,0.384996,-1.694222,-0.185173,-1.138481,-0.232828,-1.747116,-1.183175,-0.807380,Philippus
4,-0.437525,-0.471816,0.463236,-0.545248,0.261718,-0.972381,0.824183,-3.108388,-2.991700,-1.141030,Philippus

#### Test dataset

In [61]:
test_dataset = pd.read_csv('../data/test_dataset.csv', index_col=0)

In [62]:
test_dataset.head()

,0,1,2,3,4,5,6,7,8,9
0,-0.017834,0.132725,0.125378,1.357345,0.261718,0.190314,0.182426,0.445253,-0.715453,0.189796
1,-0.202992,-0.000745,-3.210528,-0.527256,0.082961,0.771662,0.144676,0.098572,0.251173,0.745333
2,1.019049,0.211237,-0.155578,-0.311855,0.261718,0.107265,0.484429,0.339303,-0.310094,-0.049630
3,0.451232,-0.267686,0.335206,-0.831336,0.261718,0.024215,0.220177,0.988787,0.032902,0.025485
4,-0.227680,0.109171,0.413447,0.118917,0.172340,0.480988,0.522180,0.091562,0.313536,0.256389

#### Sample submission

In [63]:
sample_submission = pd.read_csv('../data/sample_submission.csv', header=None, index_col=0)

In [64]:
sample_submission.head()

               1
0
0      Philippus
1       Ubuntius
2      Esequlius
3  Coronavirucus
4      Philippus

`Keep calm and code on!`

# Challenge - train your models, make the best prediction

In [65]:
# dividimos la y de la parte train
y = train_dataset["10"]
y

0               Marcus
1              Clarius
2            Philippus
3            Philippus
4            Philippus
             ...
12012           Marcus
12013        Philippus
12014           Marcus
12015           Marcus
12016    Coronavirucus
Name: 10, Length: 12017, dtype: object

In [66]:
#nos cogemos la X de la parte Train
X = train_dataset.drop(["10"], axis=1)

In [73]:
#Hacemos un tts de la parte train, estamos redividiendo 
X_train, X_test, y_train, y_test = tts(X,y, test_size=0.2)

In [68]:
log = LogisticRegression()

In [69]:
#your code
log.fit(X,y)

/home/mariadelas/anaconda3/envs/ironhack/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [36]:
#train_dataset["predicción"] = log.predict(train_dataset)

In [70]:
train_dataset["10"].value_counts()

Marcus           5107
Clarius          2362
Philippus        1360
Coronavirucus    1009
Mongucus          640
Paithonius        600
Ubuntius          512
Esequlius         427
Name: 10, dtype: int64

## What do I do once I have a prediction?

Once you have already trained your model and made a prediction with it, you are ready to check what is the accuracy of it. 

Save your prediction as a `.csv` file.

In [74]:
models={
    'dis': LinearDiscriminantAnalysis(),
    'neighbors': KNeighborsClassifier(),
    'naive': GaussianNB(),
    'tree': DecisionTreeClassifier(),
    'svm': SVC(),
}

In [75]:
for name, model in models.items():
    print("entrenando ", name)
    model.fit(X_train,y_train)

entrenando  dis
entrenando  neighbors
entrenando  naive
entrenando  tree
entrenando  svm

In [83]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"--------{name}--------")
    print("Accuracy: ", accuracy_score(y_test,y_pred))
    print("Precision: ", precision_score(y_test,y_pred, average= "weighted")  )
    print("Recall: ", recall_score(y_test,y_pred,average= "weighted"))
    print("F1: ", f1_score(y_test, y_pred, average= "weighted"))

--------dis--------
Accuracy:  0.5195507487520798
Precision:  0.4212632302561139
Recall:  0.5195507487520798
F1:  0.4136563526998308

/home/mariadelas/anaconda3/envs/ironhack/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

--------neighbors--------
Accuracy:  0.7483361064891847
Precision:  0.7540604443707598
Recall:  0.7483361064891847
F1:  0.7463098930334866
--------naive--------
Accuracy:  0.34608985024958405
Precision:  0.49117673851368565
Recall:  0.34608985024958405
F1:  0.3268668915524186
--------tree--------
Accuracy:  0.9708818635607321
Precision:  0.9710838594209061
Recall:  0.9708818635607321
F1:  0.9709144360576474
--------svm--------
Accuracy:  0.6830282861896838
Precision:  0.7067354963452384
Recall:  0.6830282861896838
F1:  0.6426321465937682

In [85]:
pd.crosstab(
    y_test,
    y_pred
)

col_0,Clarius,Coronavirucus,Esequlius,Marcus,Mongucus,Paithonius,Philippus,Ubuntius
10,,,,,,,,
Clarius,135,0,0,337,0,0,12,7
Coronavirucus,1,205,0,5,0,0,0,0
Esequlius,12,0,4,47,0,1,31,0
Marcus,45,2,0,949,0,1,13,2
Mongucus,0,0,0,11,115,0,13,0
Paithonius,10,0,0,57,1,40,13,1
Philippus,14,0,0,52,3,5,163,0
Ubuntius,6,0,0,55,0,2,3,31

Now you are ready to know the truth! Are you good enough to call yourself a pro?

Lucky you have the ultimate **APIla-bible** which give you the chance of checking the accuracy of your predictions as many times as you need in order to become the pro you want to be.

## How do I post my prediction to the APIla-bible?

Easy peasy! You should only fulfil the path to your prediction `.csv` and run the cell below!

In [86]:
my_submission = "../data/sample_submission.csv"
with open(my_submission) as f:
    res = requests.post("http://apila-bible.herokuapp.com/check", files={"csv_data":f.read()})
res.json()

{'accuracy': 0.12368946580129805,
 'quote': 'Nope, not good enough. But you shall rise as the glorious phoenix from the ashes of this score and get to the top!'}

![hope-you-enjoy](https://imgs.xkcd.com/comics/machine_learning.png)